if SHIELD_BSS_RIGHT

config ZMK_KEYBOARD_NAME
    default "Binary Star System"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BSS_LEFT || SHIELD_BSS_RIGHT

config ZMK_SPLIT
    default y

endif
